body {
    margin: 0;
    cursor: url('./sources/planeMove.png'), auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#map {
    width: 1200px;
    height: 650px;
}

#footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

#footer img {
    max-height: 60px;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 1.5rem;
}

.marker {
    position: absolute;
    max-height: 50px;
}

#poland {
    padding: 10px;
    border-radius: 100px;
    top: 405px;
    left: 660px;
    z-index: 100;
}

.marker {
    border: 5px solid black;
}

.polandSelect {
    display: none;
    position: absolute;
}

#purple {
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

#money {
    height: 100vh;
    width: 100vw;
    z-index: 11;
}

#journey {
    top: 100px;
    left: 50px;
    opacity: .75;
    z-index: 12;
}

#onEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
    min-width: 99vw;
    z-index: 101;
}

.initialMap {
    display: none;
}

#anotherJourney {
    opacity: .75;
    max-height: 500px;
    top: 50px;
    z-index: 12;
    left: 700px;
}

#yachty {
    opacity: .95;
    max-height: 400px;
    top: 200px;
    z-index: 12;
    left: 650px;
}

.gif {
    z-index: 12;
}

#skullEmoji {
    max-height: 400px;
    max-width: 300px;
    top: -400px;
    left: 500px;
}

#applause {
    max-width: 500px;
    top: -1150px;
    left: 200px;
}